.header, .logo, .phone, .box, .qrcode {
    display: flex;
    color: #fff;
}
.pic {
    border: 3px solid #fff;
    padding: 2px;
}
.logo {
    font-weight: bolder;
    margin-top: 20px;
}
.logo > .pic {
    width: 45px;
    height: 50px;
    margin-right: 10px;
}
.logo > h1, h2 {
    margin: 0;
}
.logo > h1 {
    font-size: 45px;
}
.name > h2 {
    font-size: 25px;
}

.info {
    padding: 20px 50px;
    background-color: #004DA8;
    border-radius: 0 0 50px 50px;
    margin-left: 110px;
    font-size: 20px;
    line-height: 160%;
    width: 600px;
    height: 110px;
}
.qrcode > p, .phone > p {
    margin: 5px 10px;
}

.qrcode {
    margin-left: 100px;
    border-radius: 9px;
    background: linear-gradient(319deg, rgba(151, 241, 230, 0.35) 0%, rgba(0, 255, 224, 0.00) 46.72%, rgba(0, 255, 224, 0.00) 98.63%), linear-gradient(40deg, rgba(255, 255, 255, 0.30) 0%, rgba(255, 255, 255, 0.17) 50%, rgba(255, 255, 255, 0.00) 100%), linear-gradient(180deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.11) 50%, rgba(255, 255, 255, 0.00) 100%);
    backdrop-filter: blur(10px);
    padding: 5px 15px;
    width: 252px;
    height: 79px;
}

.buttons {
    display: flex;
    flex-direction: column;
    padding: 3px 10px ;
}
.button {
    width: 39px;
    height: 37px;
    margin-bottom: 5px;
    border-radius: 5px;
    background: linear-gradient(40deg, rgba(255, 255, 255, 0.45) 0%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.00) 100%), linear-gradient(180deg, rgba(255, 255, 255, 0.45) 0%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.00) 100%);
    backdrop-filter: blur(10px);
}
.lupa {
    margin: 20px 0 0 50px ; 
}