@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
* {
  font-family: "Roboto";
}
body {
  background-image: url(./images/photo_2023-06-23_11-18-03\ 2.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  border: 15px solid #004DA8;
  padding: 0px 80px 580px 80px;
}
