.pics {
    display: flex;
    padding: 40px 0 0 160px;
    justify-content: flex-start;
}
.section {
    height: 800px;
}
.pic {
    padding: 240px 120px 0 0px;
}
.pics h2 {
    color: var(--unnamed, #040101);
    text-align: center;
    font-size: 32px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
}
.navlink {
    text-decoration: none;
}